#footer-div{
    display: flex;
    width: 60%;
    height: 400px;
    justify-content: space-around;
    margin: auto;
}
#footer-img{
    width: 35%;
}
#site-logo{
    margin-top: 100px;
}
#second{
   margin-top: 80px;
   margin-left: -200px;
}
#third{
   margin-top: 80px;
}
#fourth{
   margin-top: 80px;
}
#social-icons{
   width: 150px;
   margin-left: -30px;
   margin-top: -20px;
}
#istore-icon{
   width: 150px;
   margin-left: -10px;
   margin-top: -30px;
}
#playstore-icon{
   width: 150px;
   margin-left: -10px;
   margin-top: -10px;
}
.font-style{
   font-family: Favoritfreshly, sans-serif;
   font-size: 13px;
   font-weight: 400;
   color: #666666;
}
.head-font{
   font-size: 16px;
   color: #333333;
   font-family: Favoritfreshly, sans-serif;
   font-weight: 400;
}